body {
    margin: 0;
}
iframe {
    display: block;
    background: #000;
    border: none;
    height: 100vh;
    width: 100vw;
}

.page-header {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.btn-plus-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-plus-icon i {
    margin-right: 5px;
} 
.btn-plus-icon span {
    margin-bottom: 3px;
}
.inline-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}